/*
  Appending custom SCSS variables will override the default ones in `_sass/addon/variables.scsss`
*/
/*
 * The SCSS variables
 */

/* sidebar */
$sidebar-width: 170px;        // the basic width
$sidebar-width-small: 90px;  // screen width: >= 850px, <= 1199px (iPad landscape)
$sidebar-width-large: 210px;  // screen width: >= 1650px

/* tabs of sidebar */

$tab-count: 6;   // backward compatible (version <= 4.0.2)
$tab-height: 3rem;
$tab-cursor-height: 1.6rem;

$cursor-width: 2px;    // the cursor width of the selected tab

/* other framework sizes */

$topbar-height: 2.5rem;

$footer-height: 3rem;
$footer-height-mobile: 4rem;   // screen width: <= 576px

$main-content-max-width: 1400px;

$panel-max-width: 800px;

$post-extend-min-height: 35rem;

/* syntax highlight */

$code-font-size: 0.85rem;
